*{
    margin: 0 !important;
    padding: 0;
}
.navbar{
    background-color: #FDFDFD;
    padding: 2px auto !important;
}

.navbar-brand img{
    margin: 2px 50px !important;
}

.navbar-nav{
    margin-right: 30px !important;
}

.nav-link{
    margin: auto 12px!important;
    letter-spacing: 0.36px;
    color: #000000;
}

.nav-link:hover{
    font-weight: 600;
    text-decoration: underline skyblue;
    text-underline-position: under;
    text-decoration-thickness: 0.2em;
}




.link-section{
    position: sticky !important;
    top: 100px;
    z-index: 1020;
    width: 100%;
}

.breadcrumb{
    padding: 10px 60px !important;
}

a{
    color: #607d8b;
}

a:hover{
    text-decoration: none;
    color: darkslategray;
}

.breadcrumb-item.active a{
    color: skyblue!important;
}





.main-img{
    height: 130px;
    width: 100%;
    background-image: url("practice-masterclass-sec-1024x356-1/practice-masterclass-sec-1024x356-1.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-img h1{
    font-size: 50px;
    font-weight: 600;
}







.list{
    position: sticky !important;
    top: 142px;
    z-index: 10;
    text-align: center;
}

.list-group{
    box-shadow: #00000029 0 3px 6px;
}

.list-group-item{
    background-color: white;
    border: none;
}

.list-group-item.active{
    background: linear-gradient(#089EC8,#86BCCB);
}








.part-odd{
    padding: 8% 0% 7% 10%;
}
.odd-description{
    margin: 24px 50px 10px 0 !important;
    opacity: 0.8;
    color: #000;
    font-weight: 400;
}

.des-heading{
    margin:12px 0 5px !important;
    font-weight: 650;
    letter-spacing: 0.5px;
}

.img1{
    padding: 15% 12% 3% 1%;
}

.img2{
    padding: 15% 2% 5% 11%;
}

.part2-img{
    width: 100%;
}

button{
    background: transparent linear-gradient(180deg, #089EC8 0%, #86BCCB 100%) 0% 0% no-repeat ;
    outline: none;
    border-radius: 30px;
    padding: 1% 3%;
    margin-right: 1% !important;
    border: 0;
    color: white;
    opacity: 1;
}

button:focus{
    outline: none;
}

button:hover{
    outline: none;
    color: teal;
    background: white;
    border: 2px solid teal;
}


.part-eodd{
    padding: 0% 0% 5% 12%;
}

.form-para{
    margin: 0 4% !important;
    padding: 7% 15%;
    background-color: #FFFAF6;
    width: 80%;
    justify-content: center;
}

label{
    display: block;
    text-align: left;
    letter-spacing: 0.7px;
    color: #000000;
    opacity: 0.5;
    margin: 4% 0% !important;
}

input[type="text"], input[type="email"] {
    width: 50%;
    margin: 1% 0% !important;
    opacity: 0.6;
}

input[type="checkbox"]{
    display: inline-block;
    margin: 4% 2% 0 0 !important;
}

button[type="submit"]{
    display: block;
    margin-top: 2% !important;
}





.img{
    padding: 6% 4% 5% 11%;
}

.part-img{
    width: 100%;
}

.part-4{
    padding: 7% 10% 7% 0%;
    text-align: left !important;
}
span{
    color: #2880a5;
}

.part-4 h1, .part-odd{
    font-weight: 600;
}

.part{
    width: 30%;
    color: #2880a5;
    border: 1.5px solid #2880a5;
    margin: 10px 0 !important;
}

.part-4 h6{
    margin: 15px 0 10px !important;
    font-weight: 700;
    color: #3C3C3C;
    letter-spacing: 0.5px;
    opacity: 0.9;
}

.part-4 p{
    color: #707070;
}



.description{
    margin: 10px 12% 10px 0 !important;
    opacity: 0.8;
}

.link-section{
    color: #707070;
    font-weight: 650;
    opacity: 1;
}







footer, .color{
    background-color: #313131;
    box-shadow: none;
    text-align: left;
}

footer{
    padding: 2% 5%;
}

footer h5{
    color: #F0F5FB;
    text-align: left;
    letter-spacing: 1.5px;
    font-weight: 400;
    opacity: 0.9;
    font-size: 1.1vw;
    margin-bottom: 8px !important;
}

hr{
    width: 60%;
    color: white !important;
    border-top: 1px solid #F0F5FB;
    opacity: 0.7;
}

.color:hover{
    color: white !important;
    opacity: 1 !important;
}

footer .row .col .list-group .list-group-item{
    color: #F0F5FB;
    opacity: 0.4;
    padding-left: 0;
}

footer .row .col img{
    padding-left: 0;
    margin-top: 3% !important;
}

.heading{
    color: #F0F5FB;
    opacity: 0.8;
    margin: 4% auto 1% !important;
    font-size: 1.1vw;
    letter-spacing: 1.8px;
    text-align: center;
}

.link-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert();
    margin: 0px auto 1% !important;
    padding: 0px;
}

.link-icon li {
  list-style: none !important;
}

.link{
    display: block;
    margin-right: 1.5vw !important;
    transform: scale(0.8);
    opacity: 0.5;
}

.bottom-divider{
    width: 100%;
}

.end{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.copyright, .Terms{
    font-size: 0.9vw;
    display: inline;
    text-align: left;
    color: #f0f5fb;
    opacity: 0.4;
    letter-spacing: 1px;
}

.Terms{
    text-align: right;
    margin-left: 10px !important;
}
.Terms:hover, .link:hover{
    color: white !important;
    opacity: 1;
}
.policy{
    text-align: right !important;
    width: max-content;
}